* {
    margin: 0;
    padding: 0;
}

/* top header */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/background-hero.jpg");
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(119, 103, 103, 0.8);
    border-radius: 10px;
    height: 100vh;
}
.content img {
    max-width: 30%;
    height: 350px;
    border-radius: 10px;
    align-items: end;
}
.content .text {
    height: 370px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    text-align: left;
}

.content .text h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
}

.content .text p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 550;
    font-size: 20px;
    color: #ffffff;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-info i {
    margin-right: 10px;
    font-size: 24px;
    background-color: #f2382c;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contact-info .phone p {
    margin: 0;
    font-size: 18px;
    font-size: 20px;
    color: #ffffff;
}

/* second sub */

section.sub-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section.sub-1 .text {
    width: 70%;
}

section.sub-1 .text h1,
section.sub-1 .text p {
    padding-bottom: 25px;
    text-align: center;
}

section.sub-1 .text h1 {
    font-size: 50px;
    font-weight: 600;
}

/* section three */
section.sub-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section.sub-2 .text h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

.card img {
    height: 408px;
    /* width: 450px; */
    object-fit: cover;
}

.container{
    margin-bottom: 50px;
}

